body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

pre {
    margin-bottom: 0;
}


a {
    color: #000000;
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    color:#2c59f9;
}

.table.table-borderless.table-hover {
    font-size: 14px;
}


#table_tournaments {
    width: 325vh;  
    margin-top: 15px;
}


.breadcrumb_main {
    position: relative;
    /* margin-left: 16px; */
    left: 0;
    padding: 17px;
    color: #383838;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}


.breadcrumb {
    position: absolute;
    top: 0;
    align-items: baseline;
    margin-left: 17px;
    left: 0;
    margin-top: 15px;
}

._breadcrumb {
    font-weight: 600; 
    color: #a9a9a9;
    margin-right: 5px;
    margin-left: 5px;
}

.tournament_name {
    position: absolute;
    top: 55px;
    left: 20px;
    font-size: 13px;
    font-weight: 500;
    background-color: #ffffff;
    padding: 15px;
    width: max-content;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px #cecece63;
}

.role_player {
    font-weight: 600;
    background-color: rgb(255, 80, 80);
    width: max-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}
.role_trainer {
    font-weight: 600;
    background-color: rgb(46, 173, 63);
    width: max-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}
.role_judge {
    font-weight: 600;
    background-color: rgb(54, 96, 214);
    width: max-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}

.info {
    margin-left: 50px;
    margin-right: 50px;
}
.info_label {
    color: rgb(92, 92, 92);
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

p {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

.sticky_number_left_table {
    position: sticky;
    left: 0;
    background-color: #f9f9f9 !important;
}

.sticky_left_table {
    position: sticky;
    left: 55px;
    background-color: #f9f9f9 !important;
}


#image {
    /* background-image: url('../.png'); */
    border: 1px solid #898989;
    width: 140px;
    height: 210px;
    border-radius: 5px;
}
#table {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    font-weight: 400;
}



#main {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    margin: 20px 30px;
    /* width: max-content; */
    align-content: stretch;
    align-items: flex-start;
    box-shadow: 0px 0px 16px 0px #cecece63;
}


.tables {
    border-radius: 25px;
    width: 68%;
}

.tables_second {
    margin: 20px 30px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    box-shadow: 0px 0px 16px 0px #cecece63;
}

.Label_One {
    margin-left: 30px;
    margin-top: 60px;
    font-weight: 600;
    background-color: #ffffff;
    padding: 15px;
    width: max-content;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px #cecece63;
}

.Label_Two {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 600;
    background-color: #ffffff;
    padding: 15px;
    width: max-content;
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 0px 16px 0px #cecece63;
}

.arrowBack {
    top: 7px;
    position: absolute;
    margin-left: 30px;
    background-color: #fff;
    /* padding: 7px; */
    align-items: center;
    text-align: center;
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    box-shadow: 0px 0px 16px 0px #cecece63;
    justify-content: center;
    border-radius: 9px;
    cursor: pointer;
}

.table-hover>tbody>tr:hover {
    /* --bs-table-accent-bg: #d4d4d4; */
    --bs-table-accent-bg: #8f8f8f27;
    color: var(--bs-table-hover-color);
}

#main_thead_stycky {
     position: sticky;
    top: 42px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);   
}

.table-dark {
    /* --bs-table-bg: #2c59f9; */
    --bs-table-bg: #1b4ae3ad;

}

.table>:not(caption)>*>* {
    padding: 1.2rem 1.2rem;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}


#iconSearch {
    z-index: 99;
    position: absolute;
    color: #f8f8f8;
    margin-left: 16px;
    font-size: 13px;
}

#animate_block {
    display: none;
    flex-direction: column;
}

#myInput {
    width: 100%;
    padding: 9px 40px;
    border: none;
    background-color: #1b4ae3ad;
    color: #fff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.pagination {
    margin-left: 20px;
}

.page-link:focus { 
    box-shadow: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f8f8f8;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f8f8f8;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f8f8f8;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f8f8f8;
}

input {
    outline: none;
}

.bi-check-lg {
    font-size: 12px;
}

.bi.bi-x-lg {
    font-size: 12px;
}